# {{ project_name }}
An image classification tool for CT scans that uses pixel intensity and
DICOM metadata to distinguish between images taken with and without the use of a contrast agent.

An example 510(k) with LLMs
